In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('00690.csv')
data.head()

        Date  Price
0  2017/3/31  19.91
1   2017/4/5  19.95
2   2017/4/6  19.93
3   2017/4/7  19.84
4  2017/4/10  19.80

In [3]:
data=pd.read_excel('00690.xlsx')
data.head()

        Date  Price
0 2017-03-31  19.91
1 2017-04-05  19.95
2 2017-04-06  19.93
3 2017-04-07  19.84
4 2017-04-10  19.80

In [5]:
data=pd.read_csv('00690.csv',encoding='big5')
data.head()

        Date     價格
0  2017/3/31  19.91
1   2017/4/5  19.95
2   2017/4/6  19.93
3   2017/4/7  19.84
4  2017/4/10  19.80

In [7]:
data=pd.read_csv('C:/Users/tinah/Downloads/00690.csv')
data.head()

        Date  Price
0  2017/3/31  19.91
1   2017/4/5  19.95
2   2017/4/6  19.93
3   2017/4/7  19.84
4  2017/4/10  19.80